/* React'in root div'ini hiyerarşide şeffaf yapıyoruz */
#root { display: contents; }
/* Mobilde butonun üzerine binmesin diye */
.sidebar-overlay { display: none; }
.sidebar-overlay.active { display: block; z-index: 99; }