/* React'in root div'ini hiyerarşiden çıkarıyoruz, temanın CSS'i buna göre yazılmış */
#root {
  display: contents; 
}

/* Sidebar overlay'in butonun üzerine binmemesi için */
.sidebar-overlay {
  display: none;
}
.sidebar-overlay.active {
  display: block;
  z-index: 99;
}
